svg {
    width: 100%;
    height: 100%;
}

.element {
    position: relative;
}

.circle {
    background-color: black;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    margin: 5px 5px 5px 10px
}

.rect {
    background-color: black;
    width: 50px;
    height: 50px;
    margin: 0 5px 5px 5px;
}

.button {
    margin: 5px;
    background-color: gray;
    padding: 10px;
    width: 60px;
    height: 40px;
    color: white;
    border-radius: 4px;
}

#container {
    width: 90%;
    height: 90%;
    margin: auto;
    min-width: 620px;
    min-height: 300px;
    position: absolute;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#tool-panel {
    width: 25%;
    padding-left: 10px;
    height: 100%;
    float: left;
    display: block;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
}

#display-panel {
    width: 74%;
    height: 100%;
    float: left;
    display: block;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
}

.handler-horizontal {
    min-width: 3px;
    max-width: 8px;
    float: left;
    width: 1%;
    height: 100%;
    background-color: rgb(197, 197, 197);
    display: block;
    cursor: col-resize;
    box-sizing: border-box;
}

line {
    stroke: rgb(153, 153, 153);
    stroke-width: 2;
}