<div id="container">
    <div id="tool-panel">
        <h3>Geometric</h3>
        <div>
            <div class="element circle base"></div>
            <div class="element  rect base"></div>
        </div>
        <!--<h3>Html</h3>-->
        <!--<div>-->
            <!--<div class="element  button base">button</div>-->
        <!--</div>-->
    </div>
    <div class="handler-horizontal"></div>
    <div id="display-panel">
        <svg>
        </svg>
    </div>
</div>